<ion-content [fullscreen]="true">
  <app-header-title></app-header-title>
  <br>

  <ion-segment [value]="valorSeleccionado" mode="md" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="glosario">
      <ion-label>Glosario</ion-label>
    </ion-segment-button>
    <ion-segment-button value="kilometraje">
      <ion-label>Kilometraje</ion-label>
    </ion-segment-button>
  </ion-segment>


  <br>

  <div *ngIf="valorSeleccionado == 'glosario'">
    <pdf-viewer [src]="'data:application/pdf;base64,' + stringPDFGlosario" [render-text]="true"
    [original-size]="false" style="width: 100%; height: 700px"></pdf-viewer>
  </div>

  <div *ngIf="valorSeleccionado == 'kilometraje'">
    <pdf-viewer [src]="'data:application/pdf;base64,' + stringPDFKilometraje" [render-text]="true"
      [original-size]="false" style="width: 400px; height: 700px;display: contents;"></pdf-viewer>
  </div>


</ion-content>