<ion-content [fullscreen]="true">
  <app-header [textoBoton]="'Iniciar Sesión'" [opcion]="2" [tipoCabecera]="2"></app-header>

  <br><br>

  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <div style="text-align: center;">
        <span class="titulos"> <b>Registro</b> </span>


        <!-- <span class="titulos"> <b> {{networkStatus | json }} </b> </span> -->


      </div>

      <form [formGroup]="form" autocomplete="off">
        <br>
        <div style="margin-left: 5px;">
          <span class="instruccion-chica">
            Nombre(s)
          </span>
        </div>
        <ion-item class="ion-item-input" mode="md">
          <ion-input appTrim type="text" formControlName="nombre" placeholder="Nombre(s)" autocomplete="off"
            maxlength="60"></ion-input>
        </ion-item>
        <div *ngFor="let error of mensajesValidacion.nombre" style="margin-left: 5px;">
          <ng-container *ngIf="nombre!.hasError(error.type) && (nombre!.dirty || nombre!.touched)">
            <small class="errorValidation-chica">{{error.message}}</small>
          </ng-container>
        </div>

        <br>
        <div style="margin-left: 5px;">
          <span class="instruccion-chica">
            Apellido Paterno
          </span>
        </div>
        <ion-item class="ion-item-input" mode="md">
          <ion-input appTrim type="text" formControlName="apellidoPaterno" placeholder="Apellido Paterno"
            autocomplete="off" maxlength="60"></ion-input>
        </ion-item>
        <div *ngFor="let error of mensajesValidacion.apellidoPaterno" style="margin-left: 5px;">
          <ng-container
            *ngIf="apellidoPaterno!.hasError(error.type) && (apellidoPaterno!.dirty || apellidoPaterno!.touched)">
            <small class="errorValidation-chica">{{error.message}}</small>
          </ng-container>
        </div>

        <br>
        <div style="margin-left: 5px;">
          <span class="instruccion-chica">
            Apellido Materno
          </span>
        </div>
        <ion-item class="ion-item-input" mode="md">
          <ion-input appTrim type="text" formControlName="apellidoMaterno" placeholder="Apellido Materno"
            autocomplete="off" maxlength="60"></ion-input>
        </ion-item>
        <div *ngFor="let error of mensajesValidacion.apellidoMaterno" style="margin-left: 5px;">
          <ng-container
            *ngIf="apellidoMaterno!.hasError(error.type) && (apellidoMaterno!.dirty || apellidoMaterno!.touched)">
            <small class="errorValidation-chica">{{error.message}}</small>
          </ng-container>
        </div>

        <br>
        <div style="margin-left: 5px;">
          <span class="instruccion-chica">
            Estado
          </span>
        </div>
        <ion-item class="ion-item-input" mode="md">
          <ion-select formControlName="estado" placeholder="Seleccione un Estado" autocomplete="off">
            <ion-select-option *ngFor="let item of estados" [value]="item.nombre">
              {{ item.nombre | titlecase }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngFor="let error of mensajesValidacion.estado" style="margin-left: 5px;">
          <ng-container *ngIf="estado!.hasError(error.type) && (estado!.dirty || estado!.touched)">
            <small class="errorValidation-chica">{{error.message}}</small>
          </ng-container>
        </div>

        <br>
        <div style="margin-left: 5px;">
          <span class="instruccion-chica">
            Correo
          </span>
        </div>
        <ion-item class="ion-item-input" mode="md">
          <ion-input appTrim type="text" formControlName="correo" placeholder="Correo electrónico" autocomplete="off"
            maxlength="60"></ion-input>
        </ion-item>
        <div *ngFor="let error of mensajesValidacion.correo" style="margin-left: 5px;">
          <ng-container *ngIf="correo!.hasError(error.type) && (correo!.dirty || correo!.touched)">
            <small class="errorValidation-chica">{{error.message}}</small>
          </ng-container>
        </div>

        <br>
        <div style="margin-left: 5px;">
          <span class="instruccion-chica">
            Teléfono (Opcional)
          </span>
        </div>
        <ion-item class="ion-item-input" mode="md">
          <ion-input appTrim type="number" formControlName="telefono" placeholder="Teléfono (Opcional)"
            autocomplete="off" maxlength="10"></ion-input>
        </ion-item>
        <div *ngFor="let error of mensajesValidacion.telefono" style="margin-left: 5px;">
          <ng-container *ngIf="telefono!.hasError(error.type) && (telefono!.dirty || telefono!.touched)">
            <small class="errorValidation-chica">{{error.message}}</small>
          </ng-container>
        </div>

        <br>
        <div style="margin-left: 5px;">
          <span class="instruccion-chica">
            Contraseña
          </span>
        </div>
        <ion-item class="ion-item-input" mode="md">
          <ion-input appTrim type="password" formControlName="contrasenia" placeholder="Contraseña" #inputPassword
            autocomplete="off" maxlength="20"></ion-input>
          <ion-icon name="eye-off-outline" slot="end" *ngIf="!verContrasena" (click)="mostrarContrasena()">
          </ion-icon>
          <ion-icon name="eye-outline" slot="end" *ngIf="verContrasena" (click)="mostrarContrasena()">
          </ion-icon>
        </ion-item>
        <div style="margin-left: 5px;">
          <span class="instruccion-chica" *ngIf="(contrasenia!.dirty == false && contrasenia!.touched == false)">
            *Cree una contraseña de al menos 8 caracteres, un número,
            un caracter especial $ @ ! % * ? & _ - + # . ( / " ' : ;
            una letra mayúscula y letras minúsculas.
          </span>
          <span class="instruccion-chica" *ngIf="contrasenia!.errors == null">
            *Cree una contraseña de al menos 8 caracteres, un número,
            un caracter especial $ @ ! % * ? & _ - + # . ( / " ' : ;
            una letra mayúscula y letras minúsculas.
          </span>
        </div>

        <div *ngFor="let error of mensajesValidacion.contrasenia" style="margin-left: 5px;">
          <ng-container *ngIf="contrasenia!.hasError(error.type) && (contrasenia!.dirty || contrasenia!.touched)">
            <small class="errorValidation-chica">{{error.message}}</small>
          </ng-container>
        </div>

        <br>
        <div style="margin-left: 5px;">
          <span class="instruccion-chica">
            Confirmar contraseña
          </span>
        </div>
        <ion-item class="ion-item-input" mode="md">
          <ion-input appTrim type="password" formControlName="confirmacionContrasenia"
            placeholder="Confirmar contraseña" #inputPasswordConfirm autocomplete="off" maxlength="20"></ion-input>
          <ion-icon name="eye-off-outline" slot="end" *ngIf="!verContrasenaConfirm" (click)="mostrarContrasena(true)">
          </ion-icon>
          <ion-icon name="eye-outline" slot="end" *ngIf="verContrasenaConfirm" (click)="mostrarContrasena(true)">
          </ion-icon>
        </ion-item>

        <div style="margin-left: 5px;">
          <span class="instruccion-chica"
            *ngIf="(confirmacionContrasenia!.dirty == false && confirmacionContrasenia!.touched == false)">
            *Por favor confirme su contraseña.
          </span>
          <span class="instruccion-chica"
            *ngIf="confirmacionContrasenia!.errors == null && contraseniaComparacionValida">
            *Por favor confirme su contraseña.
          </span>
        </div>

        <div *ngFor="let error of mensajesValidacion.confirmacionContrasenia" style="margin-left: 5px;">
          <ng-container
            *ngIf="confirmacionContrasenia!.hasError(error.type) && (confirmacionContrasenia!.dirty || confirmacionContrasenia!.touched)">
            <small class="errorValidation-chica">{{error.message}}</small>
          </ng-container>
        </div>
        <div
          *ngIf="!contraseniaComparacionValida && (confirmacionContrasenia!.dirty || confirmacionContrasenia!.touched)"
          style="margin-left: 5px;">
          <ng-container>
            <small class="errorValidation-chica">*Las contraseñas capturadas no coinciden.</small>
          </ng-container>
        </div>

        <br>
        <ion-item mode="md">
          <span><ion-checkbox formControlName="heLeidoTerminosCondiciones" mode="ios"></ion-checkbox></span>
          &nbsp;&nbsp;&nbsp;
          <span>
            <p style="font-size: 14px;color: #616161;display: inline;" (click)="prueba(heLeidoTerminosCondiciones)">He
              leído y acepto los </p>
            <p style="font-size: 14px;color: #000;display: inline" (click)="openTrasnparentModal(true)"><b>Términos y
                Condiciones </b></p>
            <p style="font-size: 14px;color: #616161;display: inline;"> y el </p>
            <p style="font-size: 14px;color: #000;display: inline" (click)="openTrasnparentModal(false)"><b>Aviso de
                Privacidad.</b></p>
          </span> <br>
        </ion-item>
        <div *ngFor="let error of mensajesValidacion.heLeidoTerminosCondiciones" style="margin-left: 5px;">
          <ng-container
            *ngIf="heLeidoTerminosCondiciones!.hasError(error.type) && (heLeidoTerminosCondiciones!.dirty || heLeidoTerminosCondiciones!.touched)">
            <small class="errorValidation-chica">{{error.message}}</small>
          </ng-container>
        </div>

        <br>
        <ion-button mode="md" expand="block" (click)="registrar()"><span style="font-size: 12px;"> Registrar
          </span></ion-button>

      </form>
    </ion-col>
  </ion-row>



</ion-content>