<ion-content [fullscreen]="true">
  <app-header-title></app-header-title>



  <div style="height: 15%;padding-top: 30px;">
    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <span style="font-weight: 600;font-size: 30px;line-height: 35px;color: #616161;"><b>Contacto</b> </span>
      </ion-col>
    </ion-row>
  </div>

  <div style="height: 25%;">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <ion-icon src="assets/icon/correo.svg" style="zoom: 5;"> </ion-icon><br>
        <span
          style="color: #000000;font-weight: 600;font-size: 15px;line-height: 20px;">contacto@autometrica.com.mx</span><br>
        <span style="color: #8A8A8A;font-size: 12px;">Correo electrónico de contacto</span><br>
      </ion-col>
    </ion-row>
  </div>

  <div style="height: 25%;padding-top: 30px;">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <ion-icon src="assets/icon/telefono.svg" style="zoom: 4;"> </ion-icon><br><br>
        <span style="color: #000000;font-weight: 600;font-size: 15px;line-height: 20px;">55 5395 4683</span><br>
        <span style="color: #8A8A8A;font-size: 12px;">Comuníquese por teléfono</span><br>
      </ion-col>
    </ion-row>
  </div>

  <div style="height: 20%;padding-top: 30px;">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <span style="color: #8D8B8B;font-weight: 600;font-size: 14px;line-height: 20px;">Si desea facturar, por favor
          comuníquese a <br> cualquiera de los medios de contacto
          <br> mostrados.</span><br>
      </ion-col>
    </ion-row>
  </div>

</ion-content>