<ion-content [fullscreen]="true">

  <div class="content-modal">
    <br>
    <ion-row>
      <ion-col size="10"></ion-col>
      <ion-col size="2">
        <span><ion-icon name="close-circle" style="color: #616161;zoom: 2;" (click)="dissmiss(false)"></ion-icon></span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <span style="color:#616161;font-size: 15px;text-align: center;font-weight: bold;" *ngIf="esTerminos == 1">
          <p>Términos y Condiciones</p>
        </span>
        <span style="color:#616161;font-size: 15px;text-align: center;font-weight: bold;" *ngIf="esTerminos == 2">
          <p>Aviso de Privacidad</p>
        </span>

      </ion-col>
    </ion-row>

    <!-- <ion-row *ngIf="esTerminos == 1">
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            1.1 El presente acuerdo establece la forma de uso de Autométrica APP, propiedad de Guía
            Autométrica, S.A. de C.V. Todo en Autométrica APP, incluyendo interfaces gráficas, contenido,
            código fuente, diseño, mensajes, logotipos e información, son propiedad de Guía Autométrica,
            S.A. de C.V
          </p>
        </span>

        <span>
          <p class="titulo">1 General</p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            1.1 El presente acuerdo establece la forma de uso de Autométrica APP, propiedad de Guía
            Autométrica, S.A. de C.V. Todo en Autométrica APP, incluyendo interfaces gráficas, contenido,
            código fuente, diseño, mensajes, logotipos e información, son propiedad de Guía Autométrica,
            S.A. de C.V.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            1.2 Guía Autométrica se reserva el derecho para cambiar o modificar todo o parte de este acuerdo
            cuando lo considere necesario
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            1.3 Para el uso de Autométrica APP, es indispensable la aceptación de los términos y condiciones.
            En consecuencia, el uso de Autométrica APP constituye la aceptación a los términos y
            condiciones, incluyendo cambios y modificaciones hechas por Guía Autométrica. Si el usuario
            dejase de aceptar los términos y condiciones del presente documento, inmediatamente debe
            finalizar el uso de este servicio.

          </p>
        </span>

        <span>
          <p class="titulo">2 Uso de la APP</p>
        </span>


        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            2.1 Es de su conocimiento que Autométrica APP contiene información, imágenes, ligas y otros
            materiales protegidos por la ley federal del derecho de autor, incluidos nombres de productos,
            títulos, palabras, frases y los datos a consultar. Los usuarios de Autométrica APP deben usar el
            contenido sólo para consultas informativas.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            2.2 El usuario no puede modificar, publicar, transmitir, transferir, vender, reproducir, crear
            derivativas de trabajo para distribuir, realizar, desplegar o, de alguna forma, explotar
            comercialmente cualquier tipo de contenido que se encuentre en Autométrica APP, total o
            parcialmente, excepto lo permitido en este Acuerdo.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            2.3 El usuario no puede utilizar robots, arañas, técnicas de recolección de datos u otras técnicas
            automatizadas para obtener, descargar, reproducir, almacenar o distribuir el contenido
            disponible de Autométrica APP, ni revender el uso o dar acceso a ningún tercero.

          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            2.4 El usuario no puede descargar ningún contenido de Autométrica APP para su reventa, renta, o
            cualquier otro arreglo económico que implique a un tercero adicional.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            2.5 Guía Autométrica S.A. de C.V. es el exclusivo propietario de del diseño, código fuente, mensajes,
            logotipo e información contenida en Autométrica APP.
          </p>
        </span>

        <span>
          <p class="titulo">
            3 Reglas de conducta
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            3.1 Para tener derecho a realizar una valuación, el usuario deberá “registrarse” con el fin de crear
            su cuenta de acceso. Los datos registrados por el usuario serán tratados de acuerdo con la política de
            privacidad vigente.

          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            3.2 El usuario se compromete a proporcionar información veraz respecto de su identidad, por lo
            que está prohibido el uso de seudónimos o cualquier otra cosa que enmascare su identidad.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            3.3 El usuario no podrá autorizar ni permitir que otras personas hagan uso de su cuenta, ni prestar
            o transferir su cuenta a ninguna otra persona o entidad.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            3.4 El usuario es responsable del uso y protección de su contraseña.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            3.5 El usuario no debe publicar en Autométrica APP ningún contenido difamatorio, calumnioso,
            obsceno, pornográfico, abusivo, acosador o amenazante; que contenga virus o algún otro tipo
            de contaminante o destructivo; violar el derecho de otros; infringir algún derecho de autor,
            marca, patente o secreto comercial; violar cualquier derecho de privacidad o publicidad, así
            como de cualquier otra manera violar alguna ley aplicable o reputación.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            3.6 El usuario no puede publicar en Autométrica APP ninguna liga hacia ningún sitio externo de
            internet que contenga material obsceno o pornográfico. Tampoco debe usar Autométrica APP
            para ningún propósito comercial no expresado o aprobado por Guía Autométrica, así como
            distribuir ninguna publicidad o solicitud de fondos, bienes o servicios.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            3.7 Para tener derecho a obtener una valuación, el usuario deberá registrar los datos personales
            solicitados, con lo que Guía Autométrica le permitirá obtener y registrar una contraseña. La
            contraseña de cada usuario es personal e intransferible.
          </p>
        </span>

        <span>
          <p class="titulo">
            4 Manejo de contenido
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            4.1 El usuario es el único responsable de todo el contenido generado utilizando su contraseña.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            4.2 Si bien Guía Autométrica no se hace responsable por el contenido que puedan publicar los
            usuarios en Autométrica APP, se reserva el derecho de borrar o mover cierto contenido que a
            su juicio viole o pueda violar este Acuerdo.
          </p>
        </span>

        <span>
          <p class="titulo">
            5 No aprobación
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            5.1 Cualquier contenido publicado dentro de cualquier área por los usuarios, refleja sus opiniones
            y no representa las opiniones de Guía Autométrica.
          </p>
        </span>

        <span>
          <p class="titulo">
            6 Indemnización
          </p>
        </span>


        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            6.1 El usuario se compromete a sacar en paz y a salvo así como a indemnizar a Guía Autométrica,
            respecto de cualquier daño, perjuicio, así como los honorarios legales y demás gastos
            razonables y debidamente documentados en que incurra Guía Autométrica con motivo de
            cualquier reclamación, demanda, juicio y/o procedimiento extrajudicial y/o judicial que sea
            ejercitado por algún tercero en contra de Guía Autométrica; respecto a violaciones
            fehacientemente imputables al usuario en cualquier materia derivada del material publicado
            por el usuario o afectación a terceros, ya sea que el usuario las haya hecho o algún tercero
            utilizando su contraseña.

          </p>
        </span>

        <span>
          <p class="titulo">
            7 Finalización de Autométrica APP
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            7.1 Guía Autométrica se reserva el derecho de restringir, suspender o finalizar el acceso del usuario
            a todo el contenido de Autométrica APP, incluyendo las áreas interactivas, en cualquier
            momento y sin previo aviso o responsabilidad, en caso de detectar que el usuario ha hecho un
            uso indebido de Autométrica APP.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            7.2 Guía Autométrica puede cambiar, suspender o descontinuar todo o cualquier aspecto o sección
            de Autométrica APP en cualquier momento, incluyendo la disponibilidad de cualquier
            característica, base de datos o contenido (incluyendo las áreas interactivas), sin previo aviso o
            consentimiento.
          </p>
        </span>

        <span>
          <p class="titulo">
            8 Administración de cuenta
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            8.1 El acceso a Autométrica APP está limitado a un solo dispositivo.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            8.2 En caso de que el usuario requiera cambiar el dispositivo desde el que accede a Autométrica
            APP deberá comunicarse a contacto@autometrica.com.mx para informar el motivo del cambio
            y que le sea autorizado. En ningún caso se podrá volver a habilitar un dispositivo que
            previamente haya sido dado de baja a petición del usuario.
          </p>
        </span>

        <span>
          <p class="titulo">
            9 Renuncia a las garantías; limitación de responsabilidad
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            9.1 Ni Guía Autométrica ni cualquier proveedor de contenido o sus respectivos agentes garantizan
            que Autométrica APP será ininterrumpido o estará libre de errores.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            9.2 Guía Autométrica no da ningún tipo de garantía, ni expresa ni implícita, respecto al servicio
            ininterrumpido de Autométrica APP.
          </p>
        </span>
        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            9.3 El usuario acepta expresamente que el riesgo en cuanto a la calidad y rendimiento del servicio.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            9.4 Guía Autométrica no será responsable por cualquier acto de daño, directo o indirecto, fortuito,
            especial o derivado del uso o de la imposibilidad del uso de Autométrica APP, incluso si tal parte
            ha sido informada de la posibilidad de tal daño.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            9.5 Guía Autométrica no asume ninguna responsabilidad civil, penal, ni de ninguna índole derivada
            de la información proporcionada por el valuador, la cual es producto de observaciones del
            mercado efectuadas a través de diferentes fuentes de información e incluyen reportes de
            operaciones reales de compra y venta en toda la República Mexicana.
          </p>
        </span>
        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            9.6 La información que contiene Autométrica APP se basa en datos que Guía Autométrica considera
            verídicos; sin embargo, no se hace responsable de su exactitud.
          </p>
        </span>

        <span>
          <p class="titulo">
            10 Información para valuación
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            10.1 El material relacionado con los valores de Autométrica APP, se refiere al mes que el usuario
            haya seleccionado para iniciar la utilización de la misma.
          </p>
        </span>

        <span>
          <p class="titulo">
            11 Interpretación y cumplimiento
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            11.1 Para la interpretación y cumplimiento de estos términos de uso las partes se someten a la
            jurisdicción de las leyes y de los tribunales de la Ciudad de México, renunciando al fuero que
            por domicilio presente o futuro pudiera corresponderles.
          </p>
        </span>

        <span>
          <p class="titulo">
            12 Aviso de propiedad intelectual
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            12.1 Nuestra política es respetar los derechos de terceros, por lo que si usted considera que algún
            material de Autométrica APP infringe los derechos de propiedad intelectual de algún otro
            tercero, agradeceremos nos envíe un aviso por escrito que contenga la siguiente información:
            a) Firma física y electrónica de la persona autorizada para actuar en nombre del propietario del
            derecho exclusivo que presuntamente se ha infringido; b) Identificación del material que se
            reclama haber sido infringido o ser objeto de la actividad infractora y que debe ser eliminado o
            cuyo acceso se debe impedir e información razonablemente suficiente que permita ubicar el
            material; c) Información razonablemente suficiente que permita contactar a la parte
            reclamante, tal como dirección, teléfono y correo electrónico; d) Declaración de que la parte
            demandante cree de buena fe que el uso del material descrito en la reclamación no está
            autorizado por el propietario de dicha obra, su agente o la ley, y e) Una declaración de que la
            notificación es exacta y, bajo pena de perjurio, que la parte reclamante está autorizada a actuar
            en nombre del propietario de un derecho exclusivo que presuntamente se ha infringido.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            Todas las notificaciones deberán enviarse a: <br><br>
            Av. Ejército Nacional 884-302 <br>
            Col. Polanco, 11560 México, D.F. <br>
            Tel. (01-55)53 95 46 83 <br>
            Correo electrónico: contacto@autometrica.com.mx <br>
            13.Contacto. <br><br>
            Si tiene dudas o comentarios acerca de Autométrica APP, favor de hacerlas llegar a: <br>
            contacto@autometrica.com.mx <br>
          </p>
        </span>


        <ion-button mode="md" expand="full"><span style="font-size: 12px;" (click)="dissmiss(true)"> Aceptar
          </span></ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="esTerminos == 2">
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            En cumplimiento a lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de los
            Particulares (en lo sucesivo la “LEY”) y el Reglamento de Ley Federal de Protección de Datos Personales en
            Posesión de los Particulares (en lo sucesivo el “REGLAMENTO”), se hace de su conocimiento que Guía
            Autométrica,
            S.A. de C.V. (en lo sucesivo “Autométrica”) respeta el derecho a la privacidad y protección de datos
            personales.
          </p>
        </span>

        <span>
          <p class="titulo">IDENTIDAD Y DOMICILIO DEL RESPONSABLE</p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            AUTOMÉTRICA es el responsable del tratamiento de sus datos personales, con domicilio en Av. Ejército
            Nacional
            Mexicano 844 Piso 3, Despacho 302, Col. Polanco, Delegación Miguel Hidalgo, C.P. 11560, México, D.F.
          </p>
        </span>

        <span>
          <p class="titulo">DATOS PERSONALES QUE RECABA AUTOMÉTRICA</p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            Los datos personales que AUTOMÉTRICA puede recabar incluyen nombres, apellidos, Entidad Federativa de
            residencia, teléfonos de casa y oficina, celular, correos electrónicos, claves del registro federal de
            contribuyentes,
            información de formas de pago; toda aquella información que el titular le ha proporcionado y/o le
            proporcione a lo
            largo de la relación contractual o comercial que establezcan; aquellos datos propios y relacionados con los
            servicios
            y/o productos que AUTOMÉTRICA presta y/o comercializa.
          </p>
        </span>

        <span>
          <p class="titulo">FINALIDADES DEL TRATAMIENTO DE SUS DATOS PERSONALES</p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            Los datos personales podrán ser tratados y utilizados por AUTOMÉTRICA para cumplir aquellas obligaciones que
            se derivan de la relación jurídica y/o comercial existente; la identificación, operación, administración y
            comercialización de productos o servicios contratados; ser contactado para realizar acciones de
            actualizaciones
            técnicas de los productos y/o servicios que hubiese adquirido; ser contactado y enviar información para
            darle a
            conocer información comercial de nuestra empresa, información de nuevos productos, servicios, eventos,
            cambios
            en productos y/o servicios, estudios internos sobre hábitos de consumo, incluyendo cualquier acción de
            mercadotecnia, publicidad, estadística y de prospección comercial; ser contactado y enviar información para
            dar
            cumplimiento a requerimientos legales, mantener actualizados nuestros registros, dar seguimiento a nuestra
            relación
            comercial, si existiese, y mantener comunicación en general.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            Los datos personales recabados por AUTOMÉTRICA serán salvaguardados y no serán compartidos ni transferidos
            a ningún tercero, salvo en aquellas ocasiones en que sea necesario para atender requerimientos de
            información de
            autoridades competentes, siempre y cuando el requerimiento esté debidamente fundado y motivado.
          </p>
        </span>

        <span>
          <p class="titulo">DERECHOS</p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            Para limitar el uso o divulgación de sus datos personales, así como para revocar su consentimiento y ejercer
            los
            derechos de acceso, rectificación u oposición, deberá enviar un correo electrónico a nuestra área de
            protección de
            datos personales protecciondedatospersonales@autometrica.com.mx; acudir a nuestro domicilio Av. Ejército
            Nacional Mexicano 844 Piso 3, Despacho 302, Col. Polanco, Delegación Miguel Hidalgo, C.P. 11560, México,
            D.F.;
            o, comunicarse al teléfono (55) 5395-4683 y seguir las indicaciones correspondientes.
          </p>
        </span>

        <span>
          <p class="titulo">MODIFICACIONES AL AVISO DE PRIVACIDAD</p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            AUTOMÉTRICA se reserva el derecho de cambiar, modificar y/o complementar el presente Aviso de Privacidad, en
            cualquier momento.
          </p>
        </span>

        <span style="color:#8D8B8B;font-size: 12px;text-align: justify;">
          <p>
            Las modificaciones serán oportunamente informadas a través de nuestra página de Internet
            www.autometrica.com.mx/privacidad/politicas.php, o cualquier otro medio de comunicación oral, impreso o
            electrónico que AUTOMÉTRICA determine para tal efecto.
          </p>
        </span>

        <ion-button mode="md" expand="full"><span style="font-size: 12px;" (click)="dissmiss(true)"> Aceptar
        </span></ion-button>

      </ion-col>
    </ion-row> -->

    <div *ngIf="esTerminos == 1">
      terminos y condiciones

      <iframe src="https://niksviks.in/test/filedownload/downloader.php?filename=test12345.pdf" style="width:718px; height:700px;" frameborder="0"></iframe>
    </div>

    <div *ngIf="esTerminos == 2">
      aviso de privacidad
      <object [data]="filePath" type="application/pdf" width="100%" height="500px"></object>
    </div>


  </div>

</ion-content>