<ion-content [fullscreen]="true">
  <app-header-title></app-header-title>
  <br><br><br><br>
  <div>
    <div style="text-align: center;">
      <span class="titulo">
        ¿Quiénes Somos?
      </span>
    </div>
    <br>
    <div style="text-align: justify;padding: 50px;">
      <span class="descripcion">
        Guía Autométrica es una empresa 100% mexicana fundada en 1995 con la finalidad de ofrecer a los profesionales en
        la compraventa de autos usados en México una herramienta fiable y que reporte el valor de los autos en el mercado
        nacional, con una antigüedad de hasta once años. Desde entonces, nuestra metodología se ha basado en la
        observación y análisis constante del mercado de manera imparcial y detallada.
        En 2020 surgió Guía Autométrica Camiones, en donde reportamos en línea el valor de camiones desde 4.5 toneladas
        (de serie y armados, así como tractocamiones) con una antigüedad de hasta 39 años. También valuamos semirremolques
        con hasta 10 años en el mercado mexicano.
        En Guía Autométrica estamos comprometidos con ofrecer información precisa y confiable a nuestros clientes, lo que
        nos ha posicionado como líderes en el mercado y nos ha permitido brindar un servicio de calidad a lo largo de los
        años.
      </span>
    </div>
  </div>
</ion-content>