ion-segment-button {
    --indicator-color: #EC1C24;
    --color-checked: #EC1C24;
    font-size: 16px;
    text-transform: none;
    font-weight: bold;
}

.sutitulo{
    color:#8D8B8B;
    font-size: 12px;
    text-align: justify;
}

.titulo{
    color:#616161;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}