<ion-content [fullscreen]="true">
  <app-header-title></app-header-title>
  <br>

  <ion-segment [value]="valorSeleccionado" mode="md" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="avisoPrivacidad">
      <ion-label>Aviso de Privacidad</ion-label>
    </ion-segment-button>
    <ion-segment-button value="terminosCondiciones">
      <ion-label>Términos y Condiciones</ion-label>
    </ion-segment-button>
  </ion-segment>


  <br>

  <div *ngIf="valorSeleccionado == 'avisoPrivacidad'">
    <iframe [src]="stringPDFAvisoPrivacidad  + '#toolbar=0' | safe" style="width: 100%;height: 900px;"></iframe>
  </div>

  <div *ngIf="valorSeleccionado == 'terminosCondiciones'">
    <iframe [src]="stringPDFTyC  + '#toolbar=0' | safe" style="width: 100%;height: 900px;"></iframe>
  </div>

</ion-content>