<ion-content [fullscreen]="true">
  <app-header-title></app-header-title>

  <br>

  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="1">
      <ion-icon src="assets/icon/return.svg" style="zoom: 1.5;" (click)="regresar()"> </ion-icon> &nbsp;&nbsp;
    </ion-col>

    <ion-col size="8">
      <span style="font-size: 15px;color: #616161;margin-top: 3px;margin-left: 7px">Regresar</span>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <div style="text-align: center;">
        <ion-icon src="assets/icon/billete.svg" style="zoom: 3;"></ion-icon> <br>
        <span style="font-size: 30px;color: #616161;" *ngIf="!id">Tarjeta de Crédito o Débito<br></span>
        <span style="font-size: 30px;color: #616161;" *ngIf="id">Edición de Tarjeta de Crédito o Débito <br></span>
        <span style="font-size: 12px;color: #438EFF;">{{usuario.email}} </span><br>
      </div>
      <br>
    </ion-col>
  </ion-row>

  <div class="contenedor-tarjetas">
    <ion-row>
      <ion-col size="10">
        <span
          style="color: #616161;font-size: 20px;font-family: Roboto;font-style: normal;font-weight: 600;line-height: normal;">
          Otra Tarjeta
        </span>
      </ion-col>
      <ion-col size="2">
        <ion-icon src="assets/icon/material-symbols_check-circle-rounded.svg" style="zoom: 1.5;"> </ion-icon>
      </ion-col>
    </ion-row>
    <span style="color: #616161;font-size: 12px;font-weight: 500;">Ingrese una tarjeta nueva</span> <br>
    <span style="color: #438EFF;font-size: 12px;font-weight: 500;">Ingresar Tarjeta <br></span>
  </div>

  <div style="margin-left: 20px;margin-right: 20px;margin-bottom: 15px;padding: 10px;">
    <form [formGroup]="formPago" autocomplete="on">
      <div>
        <ion-row>
          <ion-col size="12">
            <ion-item class="ion-item-input" mode="md">
              <ion-input appTrim type="text" formControlName="nombreTitular" placeholder="Nombre del Titular:"
                maxlength="150"></ion-input>
            </ion-item>
            <div *ngFor="let error of mensajesValidacionPago.nombreTitular">
              <ng-container
                *ngIf="nombreTitular!.hasError(error.type) && (nombreTitular!.dirty || nombreTitular!.touched)">
                <small class="errorValidation">{{error.message}}</small>
              </ng-container>
            </div>
          </ion-col>
          <ion-col size="12" (click)="prueba()">
            <input appTrim credit-card type="text"
              style="height: 55px;border-radius: 10px;font-size: 12px;color: #000;border: solid 1px #848484;width: 100%; padding: 10px;"
              formControlName="nombreTarjeta" placeholder="Número de Tarjeta" maxlength="21" credit-card>
            <div *ngFor="let error of mensajesValidacionPago.nombreTarjeta">
              <ng-container
                *ngIf="nombreTarjeta!.hasError(error.type) && (nombreTarjeta!.dirty || nombreTarjeta!.touched)">
                <small class="errorValidation">{{error.message}}</small>
              </ng-container>
            </div>
          </ion-col>
          <ion-col size="6">
            <input appTrim fecha-vencimiento type="text" formControlName="fechaVencimiento"
              style="height: 55px;border-radius: 10px;font-size: 12px;color: #000;border: solid 1px #848484;width: 100%; padding: 10px;"
              placeholder="Fecha de Vencimiento" maxlength="7">
            <div *ngFor="let error of mensajesValidacionPago.fechaVencimiento">
              <ng-container
                *ngIf="fechaVencimiento!.hasError(error.type) && (fechaVencimiento!.dirty || fechaVencimiento!.touched)">
                <small class="errorValidation">{{error.message}}</small>
              </ng-container>
            </div>
          </ion-col>
          <ion-col size="6">

            <input appTrim type="number" formControlName="cvv" placeholder="CVV"
              style="height: 55px;border-radius: 10px;font-size: 12px;color: #000;border: solid 1px #848484;width: 100%; padding: 10px;"
              maxlength="4">
            <div *ngFor="let error of mensajesValidacionPago.cvv">
              <ng-container *ngIf="cvv!.hasError(error.type) && (cvv!.dirty || cvv!.touched)">
                <small class="errorValidation">{{error.message}}</small>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <br>
      <ion-button mode="md" expand="block" style=" --background: #FF3E44;"><span style="font-size: 12px;"
          (click)="id ? edicionTarjeta() : altaTarjeta()"> Aceptar
        </span></ion-button> <br>
      <ion-button mode="md" expand="block" style=" --background: #8A8A8A;"><span style="font-size: 12px;"
          (click)="regresar()"> Cancelar
        </span></ion-button>
    </form>

  </div>
</ion-content>