<ion-content [fullscreen]="true">

  <div class="content-modal">

    <!-- menu -->
    <ion-row style="padding: 10px;border-radius: 10px;" *ngIf="opcionAlerta == 'menu-opciones-no-permitidas'">
      <br><br><br>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <div style="align-items: center;text-align: center;">
          <span style="font-weight: 400; font-size: 12px;line-height: 14px;">
            Para acceder a esta sección debe iniciar sesión.
          </span>
        </div>
        <br>
        <ion-button mode="md" (click)="cerrarModal()">
          <span style="font-size: 12px;">
            Aceptar
          </span>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;border-radius: 10px;" *ngIf="opcionAlerta == 'no-tiene-licencia-activa'">
      <ion-col size="12" style="text-align: center;">
        <div style="align-items: center;text-align: center;">
          <span style="font-weight: 400; font-size: 12px;line-height: 14px;">
            No cuenta con una licencia activa, por <br>
            favor adquiera una licencia.
          </span>
        </div>
        <br>

        <div>
          <ion-button mode="md" (click)="cerrarModal()" style="--background: #8A8A8A">
            <span style="font-size: 12px;">
              &nbsp;&nbsp;&nbsp;&nbsp; Cancelar &nbsp;&nbsp;&nbsp;&nbsp;
            </span>
          </ion-button>

          <ion-button mode="md" (click)="canjearAdquirir()">
            <span style="font-size: 12px;">
              {{mensajeModalConsulta}}
            </span>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>


    <div *ngIf="opcionAlerta == 'sin-internet-sin-datos-descargados' ">
      <ion-row style="padding: 10px;" style="margin: 0;">
        <ion-col size="12" no-padding>
          <div style="text-align: end;">
            <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
          </div>
        </ion-col>
      </ion-row>

      <ion-row style="margin: 0;">
        <ion-col size="1"></ion-col>
        <ion-col size="10" style="text-align: center;">
          <ion-icon src="assets/icon/alerta-error.svg" style="zoom: 2;"></ion-icon>
          <div class="mensaje-error" [innerHTML]="sinInternetSinDescarga"></div>
          <br><br>
        </ion-col>
      </ion-row>
    </div>


    <!-- login este es el que se valido -->
    <div *ngIf="opcionAlerta == 'usuario-inactivo' ">
      <ion-row style="padding: 10px;" style="margin: 0;">
        <ion-col size="12" no-padding>
          <div style="text-align: end;">
            <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
          </div>
        </ion-col>
      </ion-row>

      <ion-row style="margin: 0;">
        <ion-col size="1"></ion-col>
        <ion-col size="10" style="text-align: center;">
          <ion-icon src="assets/icon/alerta-error.svg" style="zoom: 2;"
            *ngIf="mensajeError != 'El correo electrónico ingresado ya está registrado en el sistema.' "></ion-icon>
          <ion-icon src="assets/icon/alerta-mensaje.svg" style="zoom: 2;"
            *ngIf="mensajeError == 'El correo electrónico ingresado ya está registrado en el sistema.' "></ion-icon>
          <div class="mensaje-error">
            {{mensajeError}}
          </div>
          <br><br>
        </ion-col>
      </ion-row>
    </div>


    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'login-cinco-intentos' ">
      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
        </div>
      </ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <ion-icon src="assets/icon/candado-cinco-intentos-login.svg" style="zoom: 2;"></ion-icon><br>
        <div class="mensaje-error">
          {{mensajeError}}
        </div>
        <br>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'login-sesion-activa' ">
      <br><br><br>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <ion-icon src="assets/icon/telefono-sesion-activa.svg" style="zoom: 2;"></ion-icon><br>
        <div class="mensaje-error">
          {{mensajeError}}
        </div>
        <br>
        <ion-button mode="md" (click)="cerrarModal()">
          <span style="font-size: 12px;">
            Aceptar
          </span>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'usuario-no-validado' ">
      <br><br><br>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <div class="mensaje-error">
          {{mensajeError}}
        </div>
        <br>
        <ion-button mode="md" (click)="reenviarCorreo()">
          <span style="font-size: 12px;">
            Reenviar
          </span>
        </ion-button>
        <br>
        <span style="color: #000;text-align: center;font-size: 10px;font-weight: 400;">
          Si no encuentra el correo, revise su bandeja de spam.
        </span>
      </ion-col>
    </ion-row>

    <!-- recuperar contrasenia -->
    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'recuperar-contrasenia-enviamos-enlace' ">

      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
        </div>
      </ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <ion-icon src="assets/icon/mdi_email.svg" style="zoom: 2;"></ion-icon><br>
        <div class="mensaje-error">
          {{mensajeError}}
        </div>
        <br>
      </ion-col>
    </ion-row>


    <!-- restablecer contrasenia -->
    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'restablecer-contrasenia-contrasenias-invalidas' ">
      <br><br><br>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <ion-icon src="assets/icon/mdi_email.svg" style="zoom: 2;"></ion-icon><br>
        <div class="mensaje-error">
          {{mensajeError}}
        </div>
        <br>
        <ion-button mode="md" (click)="cerrarModal()">
          <span style="font-size: 12px;">
            Aceptar
          </span>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'restablecer-contrasenia-exitoso' ">
      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
        </div>
      </ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <ion-icon src="assets/icon/material-symbols_check-circle-rounded.svg" style="zoom: 2;"></ion-icon><br>
        <div class="mensaje-error">
          {{mensajeError}}
        </div>
        <br>
      </ion-col>
    </ion-row>

    <!-- mi perfil -->
    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'aviso-borrado-licencias' ">
      <br><br><br>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <div class="mensaje-error">
          {{mensajeError}}
        </div>
        <br>
        <ion-button mode="md" (click)="cerrarModalReturnData(false)" style="--background:#8A8A8A">
          <span style="font-size: 12px;">
            Ahora no
          </span>
        </ion-button>

        <ion-button mode="md" (click)="cerrarModalReturnData(true)">
          <span style="font-size: 12px;">
            Descargar
          </span>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'descarga-pendiente' ">
      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <div class="mensaje-error" style="text-align: center;" [innerHTML]="mensajeInner"></div>
        <br>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'descarga-datos' ">
      <br><br><br>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <div class="mensaje-error" [innerHTML]="mensajeInnerDatos"></div>
        <br>
        <ion-button mode="md" (click)="cerrarModalReturnData(false)" style="--background:#8A8A8A">
          <span style="font-size: 12px;">
            Ahora no
          </span>
        </ion-button>

        <ion-button mode="md" (click)="cerrarModalReturnData(true)">
          <span style="font-size: 12px;">
            Descargar
          </span>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'descarga-exitosa' ">
      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
        </div>
      </ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <div style="text-align: center;">
          <ion-icon src="assets/icon/material-symbols_check-circle-rounded.svg" style="zoom: 2;"></ion-icon><br>
          <div class="mensaje-error" [innerHTML]="mensajeInnerDescargaExitosa"></div>
          <span style="font-size: 9px;color: #000;">
            Para visualizar los cambios, por favor deslice la pantalla Mi perfil hacia abajo.
          </span>
        </div>
        <br>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'modificaciones-exitosas' ">
      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
        </div>
      </ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <div style="text-align: center;">
          <ion-icon src="assets/icon/material-symbols_check-circle-rounded.svg" style="zoom: 2;"></ion-icon><br>
          <div class="mensaje-error">
            {{mensajeError}}
          </div>
        </div>
        <br>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'contrasenia-anterior' ">
      <br><br><br>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <ion-icon src="assets/icon/candado-cinco-intentos-login.svg" style="zoom: 2;"></ion-icon><br>
        <div class="mensaje-error">
          {{mensajeError}}
        </div>
        <br>
        <ion-button mode="md" (click)="cerrarModal()">
          <span style="font-size: 12px;">
            Aceptar
          </span>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'cancelar-edicion' ">
      <br><br><br>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <div class="mensaje-error">
          {{mensajeError}}
        </div>
        <br>
        <ion-button mode="md" (click)="cerrarModalReturnData(false)" style="--background:#8A8A8A">
          <span style="font-size: 12px;">
            Cancelar
          </span>
        </ion-button>

        <ion-button mode="md" (click)="cerrarModalReturnData(true)">
          <span style="font-size: 12px;">
            Aceptar
          </span>
        </ion-button>
      </ion-col>
    </ion-row>

    <div style="padding: 10px;" *ngIf="opcionAlerta == 'intente-el-dia' ">
      <ion-row style="margin: 0;">
        <ion-col size="12" no-padding>
          <div style="text-align: end;">
            <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
          </div>
        </ion-col>
      </ion-row>

      <ion-row style="margin: 0;">
        <ion-col size="1"></ion-col>
        <ion-col size="10" style="text-align: center;">
          <ion-icon src="assets/icon/alerta-error.svg" style="zoom: 2;"></ion-icon>
          <div class="mensaje-error">
            {{mensajeError}}
          </div>
          <br><br>
        </ion-col>
      </ion-row>
    </div>

    <div style="padding: 10px;" *ngIf="opcionAlerta == 'eliminar-transferencia' ">
      <ion-row style="margin: 0;">
        <ion-col size="12" no-padding>
          <div style="text-align: end;">
            <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;"
              (click)="cerrarModalReturnData(false)"></ion-icon><br>
          </div>
        </ion-col>
      </ion-row>

      <ion-row style="margin: 0;">
        <ion-col size="1"></ion-col>
        <ion-col size="10" style="text-align: center;">
          <div class="mensaje-error" [innerHTML]="mensajeError"></div>
          <br>
          <ion-button mode="md" (click)="cerrarModalReturnData(true)" style="--background:#EC1C24">
            <span style="font-size: 12px;">
              Aceptar
            </span>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

    <!-- tarjetas -->
    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'registro-tarjeta-exitoso' ">
      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <div style="text-align: center;">
          <ion-icon src="assets/icon/material-symbols_check-circle-rounded.svg" style="zoom: 2;"></ion-icon><br>
          <div class="mensaje-error">
            {{mensajeError}}
          </div>
        </div>
        <br>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'registro-tarjeta-fallido' ">
      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <div style="text-align: center;">
          <ion-icon src="assets/icon/alerta-error.svg" style="zoom: 2;"></ion-icon><br>
          <div class="mensaje-error">
            {{mensajeError}}
          </div>
        </div>
        <br>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'eliminar-metodo-pago' ">
      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <div style="text-align: center;">
          <div class="mensaje-error">
            {{mensajeError}}
          </div>
          <br>
          <ion-button mode="md" (click)="cerrarModalReturnData(false)" style="--background:#8A8A8A">
            <span style="font-size: 12px;">
              Cancelar
            </span>
          </ion-button>

          <ion-button mode="md" (click)="cerrarModalReturnData(true)">
            <span style="font-size: 12px;">
              Aceptar
            </span>
          </ion-button>

        </div>
        <br>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'eliminacion-correcta' ">
      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <div style="text-align: center;">
          <ion-icon src="assets/icon/material-symbols_check-circle-rounded.svg" style="zoom: 2;"></ion-icon><br>
          <div class="mensaje-error">
            {{mensajeError}}
          </div>
        </div>

        <br>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'confirmacion-cvv' ">
      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <div>
          <div>
            <span style="color: #616161;font-size: 15px;font-weight: 700;">
              {{tarjetaSeleccionada.holder_name | titlecase}} <br>
            </span>
            <span style="color: #000;text-align: center;font-size: 12px;font-weight: 400;">
              {{tarjetaSeleccionada.maskTarjeta}}
            </span>
          </div>
          <br><br>
          <form [formGroup]="formPago" autocomplete="on">
            <ion-row style="text-align: center;">
              <ion-col size="3"></ion-col>
              <ion-col size="6">
                <input appTrim type="number" formControlName="cvv"
                  style="height: 55px;border-radius: 10px;font-size: 12px;color: #000;border: solid 1px #848484;width: 100%; padding: 10px;"
                  placeholder="CVV" maxlength="4">

                <br>

                <div *ngFor="let error of mensajesValidacionPago.cvv" style="text-align: center;">
                  <ng-container *ngIf="cvv!.hasError(error.type) && (cvv!.dirty || cvv!.touched)">
                    <small class="errorValidation">{{error.message}}</small>
                  </ng-container>
                </div>

              </ion-col>

            </ion-row>
          </form>
          <br>
          <div style="text-align: center;">
            <span style="color: #000;font-size: 12px;font-weight: 400;">
              Por favor ingrese el CVV para <br> continuar con su pago.
            </span>
          </div>

          <br><br>
        </div>

        <ion-button mode="md" expand="block"
          (click)="cerrarModalReturnDataForm({exito: true, formulario: formPago.value})">
          <span style="font-size: 12px;">
            Aceptar
          </span>
        </ion-button>

        <br>

        <ion-button mode="md" expand="block" (click)="cerrarModalReturnDataForm(false)" style="--background:#8A8A8A">
          <span style="font-size: 12px;">
            Cancelar
          </span>
        </ion-button>

        <br>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'error-pago-prepago-tarjeta' ">
      <br><br><br>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <div class="mensaje-error">
          {{mensajeError}}
        </div>
        <br>
        <ion-button mode="md" (click)="cerrarModalReturnData(false)" style="--background:#8A8A8A">
          <span style="font-size: 12px;">
            Cancelar
          </span>
        </ion-button>

        <ion-button mode="md" (click)="cerrarModalReturnData(true)">
          <span style="font-size: 12px;">
            Ir a Métodos de Pago
          </span>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'error-pago-prepago' ">
      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <div class="mensaje-error">
          {{mensajeError}}
        </div>
        <br>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'compra-exitosa' ">
      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <div style="text-align: center;">
          <ion-icon src="assets/icon/material-symbols_check-circle-rounded.svg" style="zoom: 2;"></ion-icon><br>
          <div class="mensaje-error" [innerHTML]="mensajeError"></div>
        </div>
        <br>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'compra-exitosa-tarjeta' ">
      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;"
            (click)="cerrarModalReturnData(true)"></ion-icon><br>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <div style="text-align: center;">
          <ion-icon src="assets/icon/material-symbols_check-circle-rounded.svg" style="zoom: 2;"></ion-icon><br>
          <div class="mensaje-error">
            {{mensajeError}}
          </div>
        </div>
        <br>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'ya-puede-consultar' ">
      <br><br><br>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <!-- <div class="mensaje-error" [innerHTML]="mensajeInnerYaPuedeConsultar"></div> -->
        <div class="mensaje-error" [innerHTML]="mensajeError"></div>
        <br>
        <ion-button mode="md" (click)="cerrarModalReturnData(false)" style="--background:#8A8A8A">
          <span style="font-size: 12px;">
            Ahora No
          </span>
        </ion-button>

        <ion-button mode="md" (click)="cerrarModalReturnData(true)">
          <span style="font-size: 12px;">
            Descargar
          </span>
        </ion-button>
      </ion-col>
    </ion-row>


    <div style="padding: 10px;" *ngIf="opcionAlerta == 'desea-guardar-tarjeta' ">

      <ion-row style="margin: 0;">
        <ion-col size="1"></ion-col>
        <ion-col size="10" style="text-align: center;">
          <div class="mensaje-error">
            {{mensajeError}}
          </div>
          <br>
          <ion-button mode="md" (click)="cerrarModalReturnData(false)" style="--background:#8A8A8A">
            <span style="font-size: 12px;">
              Ahora No
            </span>
          </ion-button>
          <ion-button mode="md" (click)="cerrarModalReturnData(true)" style="--background:#EC1C24">
            <span style="font-size: 12px;">
              &nbsp;Guardar&nbsp;
            </span>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

    <!-- pgos -->
    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'error-general' ">
      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <ion-icon src="assets/icon/alerta-error.svg" style="zoom: 2;"></ion-icon>
        <div class="mensaje-error">
          {{mensajeError}}
        </div>
        <br>
      </ion-col>
    </ion-row>

    <!-- consulta  -->
    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'sin-informacion-descargada' ">
      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <ion-icon src="assets/icon/alerta-error.svg" style="zoom: 2;"></ion-icon>
        <div class="mensaje-error">
          {{mensajeError}}
        </div>
        <br>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'kilometraje-vacio' ">
      <br><br>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <div class="mensaje-error" [innerHTML]="mensajeKMVacio"></div>
        <br>

        <ion-row st>
          <ion-col size="6" style="padding: 0px">
            <ion-button mode="md" (click)="cerrarModalReturnData(false)" style="--background:#8A8A8A">
              <span style="font-size: 12px;" expand="block">
                Cancelar
              </span>
            </ion-button>
          </ion-col>
          <ion-col size="6" style="padding: 0px">
            <ion-button mode="md" (click)="cerrarModalReturnData(true)">
              <span style="font-size: 12px;">
                Aceptar
              </span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'campos-requeridos' ">
      <ion-col size="12" no-padding>
        <div style="text-align: end;">
          <ion-icon src="assets/icon/cerrar-modal.svg" style="zoom: 1;" (click)="cerrarModal()"></ion-icon><br>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <ion-icon src="assets/icon/formulario.svg" style="zoom: 2;"></ion-icon>
        <div class="mensaje-error">
          {{mensajeError}}
        </div>
        <br>
      </ion-col>
    </ion-row>



    <ion-row style="padding: 10px;" *ngIf="opcionAlerta == 'selecciona-licencia' ">
      <br><br><br>
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="text-align: center;">
        <!-- <div class="mensaje-error" [innerHTML]="mensajeInnerYaPuedeConsultar"></div> -->
        <div class="mensaje-error" [innerHTML]="mensajeError"></div>
        <br>
        <ion-button mode="md" (click)="cerrarModalReturnData(false)" style="--background:#8A8A8A">
          <span style="font-size: 12px;">
            {{primeraLicencia.mes}} {{primeraLicencia.year_hire}}
          </span>
        </ion-button>

        <ion-button mode="md" (click)="cerrarModalReturnData(true)">
          <span style="font-size: 12px;">
            {{segundaLicencia.mes}} {{segundaLicencia.year_hire}}
          </span>
        </ion-button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>