ion-menu{
    --color:white;
  }

  ion-menu-toggle{
    --color:white;
  }

  .item-menu{
    color: white;
    margin-top: 10px;
    margin-left: 22px;
  }
  .cerrar-sesion{
    color: white;
    margin-top: 35px;
    margin-left: 22px;
  }