<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <app-header-title></app-header-title>
    <br>

    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="1">
        <ion-icon src="assets/icon/return.svg" style="zoom: 1.5;"
          (click)="hayInternet? reygresar('consulta-autometrica/1') : reygresar('consulta-autometrica')"> </ion-icon>
        &nbsp;&nbsp;
      </ion-col>

      <ion-col size="8" style="padding-top: 10px;">
        <span style="font-size: 15px;color: #616161;margin-top: 7px;margin-left: 7px"
          (click)="hayInternet? reygresar('consulta-autometrica/1') : reygresar('consulta-autometrica')">Nueva
          Valuación</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">

        <div style="text-align: center;" *ngIf="hayInternet">
          <span style="font-size: 30px;color: #616161;font-weight: 600;">Valores de {{licenciaConsultaOnline?.mes}}
            {{licenciaConsultaOnline?.anioNumero}}</span><br>
        </div>

        <div style="text-align: center;" *ngIf="!hayInternet">
          <span style="font-size: 30px;color: #616161;font-weight: 600;">Valores de {{licenciaConsulta?.mes}}
            {{licenciaConsulta?.year_hire}}</span><br>
        </div>
        <br>

        <div style="text-align: center;" *ngIf="hayInternet">
          <img
            [src]="'https://www.autometrica.com.mx/valuador/assets/img/autos/'+resultasCarsConsulta[0].list[0].filename"
            onerror="this.onerror=null;this.src='../../../assets/imgs/vehiculo.png';" />
        </div>

        <div style="text-align: center;" *ngIf="!hayInternet">
          <img src='../../../assets/imgs/vehiculo.png'
            onerror="this.onerror=null;this.src='../../../assets/imgs/vehiculo.png';" />
        </div>

        <br>

        <div class="contenedo-clase">
          <div *ngIf="hayInternet">
            <p class="title">{{busquedaAutometrica.marca }} </p>
            <p class="text">
              {{busquedaAutometrica.submarca }} {{busquedaAutometrica.anio}}
            </p>
          </div>

          <div *ngIf="!hayInternet">
            <p class="title">{{busquedaAutometrica?.marcaSinAlterar }} </p>
            <p class="text">
              {{busquedaAutometrica?.subMarcaSinAlterar }} {{busquedaAutometrica?.anio}}
            </p>
          </div>

          <!-- hayKilometraje es igual a 2, no hay kilometraje -->
          <p class="text" *ngIf="busquedaAutometrica.kilometraje && autosNuevos.length == 0 && hayKilometraje == '2' ">
            Kilometraje excesivo, revise las condiciones del vehículo.
          </p>

          <p class="text" *ngIf="busquedaAutometrica.kilometraje && autosNuevos.length == 0 && hayKilometraje != '2'">
            Kilometraje: {{ busquedaAutometrica.kilometraje | number }} km
          </p>

          <p class="text" style="text-decoration-line: underline;font-style: italic;"
            *ngIf="!busquedaAutometrica.kilometraje  && autosNuevos.length == 0">
            Sin impacto en kilometraje.
          </p>

          <p class="text" style="text-decoration-line: underline;font-style: italic;" *ngIf="autosNuevos.length > 0">
            Para autos nuevos no se calcula kilometraje.
          </p>

          <!-- autos que no tienen linea y que si tiene precios de compra y venta -->
          <div *ngFor="let linea of autosNoNuevos">
            <p class="title-table"> {{linea.name}} </p>

            <table class="table-consult">
              <tr>
                <th>G/km</th>
                <th class="text-center">Precios</th>
                <th>Venta</th>
                <th>Compra</th>
              </tr>
              <tr *ngFor="let car of linea.list">
                <td class="text-center"> {{car.km_group}} </td>
                <td>{{car.version}}</td>
                <td>{{car.sale }}</td>
                <td>{{car.purchase }}</td>
              </tr>
            </table>


            <table class="table-consult" *ngIf="linea?.anadires?.length > 0">
              <p class="title-table">Equipo adicional</p>
              <tr>
                <th>Precios</th>
                <th class="text-center">Venta</th>
                <th class="text-center">Compra</th>
              </tr>
              <tr *ngFor="let anadir of linea.anadires">
                <td> {{anadir.version}} </td>
                <td class="text-center">{{hayInternet ? (anadir.sale | currency : 'USD' : 'symbol' : '1.0-0') :
                  anadir.sale}}</td>
                <td class="text-center"> {{ hayInternet ? (anadir.purchase | currency : 'USD' : 'symbol' : '1.0-0'):
                  anadir.purchase}} </td>
              </tr>
            </table>


            <table class="table-consult" *ngIf="linea?.kilometraje?.length > 0 && busquedaAutometrica.kilometraje != 0">
              <p class="title-table">Kilometraje</p>
              <tr>
                <th class="text-center">G/km</th>
                <th>Impacto de Kilometraje</th>
              </tr>
              <tr *ngFor="let km of linea?.kilometraje">
                <td class="text-center"> {{km.grupo}} </td>
                <td class="text-center"> {{km.valor | currency : 'USD' : 'symbol' : '1.0-0' }} </td>
              </tr>
            </table>


          </div>

          <div *ngFor="let linea of autosNuevos">
            <!-- <p class="title-table"> Línea nueva </p> -->

            <table class="table-consult">
              <tr>
                <th class="text-center">Precios</th>
                <th *ngIf="hayVenta > 0">Lista</th>
                <th *ngIf="hayCompra > 0">Contado</th>
              </tr>
              <tr *ngFor="let car of linea.list">
                <td>{{car.version}}</td>
                <td *ngIf="hayVenta > 0">{{car.sale}}</td>
                <td *ngIf="hayCompra > 0">{{car.purchase}}</td>
              </tr>
            </table>


            <table class="table-consult" *ngIf="linea?.anadires?.length > 0">
              <p class="title-table">Equipo adicional</p>
              <tr>
                <th class="text-center">Descripción</th>
                <th>Precio</th>
              </tr>
              <tr *ngFor="let anadir of linea.anadires">
                <td> {{anadir.version}} </td>

                <td class="text-center" *ngIf="hayVenta > 0">{{hayInternet ? (anadir.sale | currency : 'USD' : 'symbol'
                  : '1.0-0') : anadir.sale}}</td>
                <td class="text-center" *ngIf="hayCompra > 0"> {{ hayInternet ? (anadir.purchase | currency : 'USD' :
                  'symbol' : '1.0-0'): anadir.purchase}} </td>
              </tr>
            </table>


            <!-- <table class="table-consult" *ngIf="linea?.kilometraje?.length > 0 && busquedaAutometrica.kilometraje != 0">
              <p class="title-table">Kilometraje</p>
              <tr>
                <th class="text-center">G/km</th>
                <th>Impacto de Kilometraje</th>
              </tr>
              <tr *ngFor="let km of linea?.kilometraje">
                <td class="text-center"> {{km.grupo}} </td>
                <td class="text-center"> {{km.valor | currency : 'USD' : 'symbol' : '1.0-0' }} </td>
              </tr>
            </table> -->


          </div>

          <!-- autos que tiene lineas nuevas  -->
          <div *ngFor="let linea of lineasNuevas">
            <p class="title-table"> {{linea.name}} </p>

            <table class="table-consult">
              <tr>
                <th>G/km</th>
                <th class="text-center">Precios</th>
                <th>Venta</th>
                <th>Compra</th>
              </tr>
              <tr *ngFor="let car of linea.list">
                <td class="text-center"> {{car.km_group}} </td>
                <td>{{car.version}}</td>
                <td>{{car.sale }}</td>
                <td>{{car.purchase }}</td>
              </tr>
            </table>


            <table class="table-consult" *ngIf="linea?.anadires?.length > 0">
              <p class="title-table">Equipo adicional</p>
              <tr>
                <th>Precios</th>
                <th class="text-center">Venta</th>
                <th class="text-center">Compra</th>
              </tr>
              <tr *ngFor="let anadir of linea.anadires">
                <td> {{anadir.version}} </td>
                <td class="text-center">{{hayInternet ? (anadir.sale | currency : 'USD' : 'symbol' : '1.0-0') :
                  anadir.sale}}</td>
                <td class="text-center"> {{ hayInternet ? (anadir.purchase | currency : 'USD' : 'symbol' : '1.0-0'):
                  anadir.purchase}} </td>
              </tr>
            </table>


            <table class="table-consult" *ngIf="linea?.kilometraje?.length > 0 && busquedaAutometrica.kilometraje != 0">
              <p class="title-table">Kilometraje</p>
              <tr>
                <th class="text-center">G/km</th>
                <th>Impacto de Kilometraje</th>
              </tr>
              <tr *ngFor="let km of linea?.kilometraje">
                <td class="text-center"> {{km.grupo}} </td>
                <td class="text-center"> {{km.valor | currency : 'USD' : 'symbol' : '1.0-0' }} </td>
              </tr>
            </table>


          </div>

          <!-- autos que tiene cambio de linea  -->
          <div *ngFor="let linea of cambioLinea">
            <p class="title-table"> {{linea.name}} </p>

            <table class="table-consult">
              <tr>
                <th>G/km</th>
                <th class="text-center">Precios</th>
                <th>Venta</th>
                <th>Compra</th>
              </tr>
              <tr *ngFor="let car of linea.list">
                <td class="text-center"> {{car.km_group}} </td>
                <td>{{car.version}}</td>
                <td>{{car.sale}}</td>
                <td>{{car.purchase}}</td>
              </tr>
            </table>


            <table class="table-consult" *ngIf="linea?.anadires?.length > 0">
              <p class="title-table">Equipo adicional</p>
              <tr>
                <th>Precios</th>
                <th class="text-center">Venta</th>
                <th class="text-center">Compra</th>
              </tr>
              <tr *ngFor="let anadir of linea.anadires">
                <td> {{anadir.version}} </td>
                <td class="text-center">{{hayInternet ? (anadir.sale | currency : 'USD' : 'symbol' : '1.0-0') :
                  anadir.sale}}</td>
                <td class="text-center"> {{ hayInternet ? (anadir.purchase | currency : 'USD' : 'symbol' : '1.0-0'):
                  anadir.purchase}} </td>
              </tr>
            </table>


            <table class="table-consult" *ngIf="linea?.kilometraje?.length > 0 && busquedaAutometrica.kilometraje != 0">
              <p class="title-table">Kilometraje</p>
              <tr>
                <th class="text-center">G/km</th>
                <th>Impacto de Kilometraje</th>
              </tr>
              <tr *ngFor="let km of linea?.kilometraje">
                <td class="text-center"> {{km.grupo }} </td>
                <td class="text-center"> {{km.valor | currency : 'USD' : 'symbol' : '1.0-0'}} </td>
              </tr>
            </table>


          </div>

          <!-- autos que son de la linea anterios -->
          <div *ngFor="let linea of lineaAnterior">
            <p class="title-table"> {{linea.name}} </p>

            <table class="table-consult">
              <tr>
                <th>G/km</th>
                <th class="text-center">Precios</th>
                <th>Venta</th>
                <th>Compra</th>
              </tr>
              <tr *ngFor="let car of linea.list">
                <td class="text-center"> {{car.km_group}} </td>
                <td>{{car.version}}</td>
                <td>{{car.sale }}</td>
                <td>{{car.purchase }}</td>
              </tr>
            </table>


            <table class="table-consult" *ngIf="linea?.anadires?.length > 0">
              <p class="title-table">Equipo adicional</p>
              <tr>
                <th>Precios</th>
                <th class="text-center">Venta</th>
                <th class="text-center">Compra</th>
              </tr>
              <tr *ngFor="let anadir of linea.anadires">
                <td> {{anadir.version}} </td>
                <td class="text-center">{{hayInternet ? (anadir.sale | currency : 'USD' : 'symbol' : '1.0-0') :
                  anadir.sale}}</td>
                <td class="text-center"> {{ hayInternet ? (anadir.purchase | currency : 'USD' : 'symbol' : '1.0-0'):
                  anadir.purchase}} </td>
              </tr>
            </table>


            <table class="table-consult" *ngIf="linea?.kilometraje?.length > 0 && busquedaAutometrica.kilometraje != 0">
              <p class="title-table">Kilometraje</p>
              <tr>
                <th class="text-center">G/km</th>
                <th>Impacto de Kilometraje</th>
              </tr>
              <tr *ngFor="let km of linea?.kilometraje">
                <td class="text-center"> {{km.grupo}} </td>
                <td class="text-center"> {{km.valor | currency : 'USD' : 'symbol' : '1.0-0' }} </td>
              </tr>
            </table>


          </div>




        </div>

      </ion-col>
    </ion-row>

  </ion-content>