<ion-content [fullscreen]="true">
  <app-header-title></app-header-title>

  <br>

  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="1">
      <ion-icon src="assets/icon/return.svg" style="zoom: 1.5;" (click)="reygresar('metodos-pago')"> </ion-icon> &nbsp;&nbsp;
    </ion-col>

    <ion-col size="8">
      <span style="font-size: 15px;color: #616161;margin-top: 3px;margin-left: 7px">Regresar</span>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <div style="text-align: center;">
        <ion-icon src="assets/icon/billete.svg" style="zoom: 3;"></ion-icon> <br>
        <span style="color: #616161;font-size: 30px;font-weight: 600;">Tarjeta de Prepago</span> <br>
        <span style="color: #616161;text-align: center;font-size: 20px;font-weight: 600;">Edición {{licenciaSeleccionada.mes}} {{licenciaSeleccionada.anio}} </span>
      </div>

      <br>
      <form [formGroup]="form" autocomplete="on">
        <div>
          <ion-row>
            <ion-col size="12">
              <ion-item class="ion-item-input" mode="md">
                <ion-input appTrim type="text" formControlName="codigo" placeholder="Código"></ion-input>
              </ion-item>
              <div *ngFor="let error of mensajesValidacion.codigo">
                <ng-container
                  *ngIf="codigo!.hasError(error.type) && (codigo!.dirty || codigo!.touched)">
                  <small class="errorValidation">{{error.message}}</small>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <br><br>
        <span style="color: #616161;font-size: 12px;font-weight: 500;">
          Si no cuenta con tarjeta de prepago por favor contacte a su vendedor.
        </span>

        <br><br><br>
        
        <ion-button mode="md" expand="full" style=" --background: #FF3E44;" (click)="pagarPrepago()">
          <span style="font-size: 12px;"> 
            Canjear
          </span>
        </ion-button>
        <br>
        <ion-button mode="md" expand="full" style=" --background: #8A8A8A;"><span style="font-size: 12px;"
          (click)="reygresar('metodos-pago')"> Cancelar
          </span></ion-button>
      </form>

    </ion-col>
  </ion-row>

</ion-content>