<ion-content [fullscreen]="true">
  <app-header-title></app-header-title>
  <br><br>

  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10" style="text-align: center;">
      <span style="color: #616161;font-size: 30px;font-weight: 600;">Consulta Autométrica</span>
    </ion-col>
  </ion-row>

  <br><br>

  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <form [formGroup]="form" autocomplete="off">

        <br>
        <div style="margin-left: 5px;">
          <span class="instruccion-label">Marca</span>
        </div>

        <ion-item class="ion-item-input" mode="md">
          <ion-select formControlName="marca" placeholder="Marca" autocomplete="off"
            (ionChange)="cambiosSelectOnline('marca')" *ngIf="hayInternet">
            <ion-select-option *ngFor="let item of marcasOnline" [value]="item.brand">
              {{ item.brand }}
            </ion-select-option>
          </ion-select>

          <ion-select formControlName="marca" placeholder="Marca" autocomplete="off"
            (ionChange)="cambiosSelect('marca')" *ngIf="!hayInternet">
            <ion-select-option *ngFor="let item of marcasOffline" [value]="item">
              {{ item }}
            </ion-select-option>
          </ion-select>

        </ion-item>

        <div style="margin-left: 5px;">
          <span class="instruccion-chica" *ngIf="marca!.errors == null">
            *Seleccione la marca.
          </span>
          <span class="instruccion-chica" *ngIf="(marca!.dirty == false && marca!.touched == false)">
            *Seleccione la marca.
          </span>
        </div>

        <div *ngFor="let error of mensajesValidacion.marca" style="margin-left: 5px;">
          <ng-container *ngIf="marca!.hasError(error.type) && (marca!.dirty || marca!.touched)">
            <small class="errorValidation-chica">{{error.message}}</small>
          </ng-container>
        </div>

        <br>
        <div style="margin-left: 5px;">
          <span class="instruccion-label">Año</span>
        </div>
        <ion-item class="ion-item-input" mode="md">
          <ion-select formControlName="anio" placeholder="Año" autocomplete="off"
            (ionChange)="cambiosSelectOnline('anio')" *ngIf="hayInternet">
            <ion-select-option *ngFor="let item of aniosOnline" [value]="item.year">
              {{ item.year }}
            </ion-select-option>
          </ion-select>

          <ion-select formControlName="anio" placeholder="Año" autocomplete="off" (ionChange)="cambiosSelect('anio')"
            *ngIf="!hayInternet">
            <ion-select-option *ngFor="let item of aniosOffline" [value]="item">
              {{ item }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div style="margin-left: 5px;">
          <span class="instruccion-chica" *ngIf="anio!.errors == null">
            *Seleccione el año.
          </span>
          <span class="instruccion-chica" *ngIf="(anio!.dirty == false && anio!.touched == false)">
            *Seleccione el año.
          </span>
        </div>

        <div *ngFor="let error of mensajesValidacion.anio" style="margin-left: 5px;">
          <ng-container *ngIf="anio!.hasError(error.type) && (anio!.dirty || anio!.touched)">
            <small class="errorValidation-chica">{{error.message}}</small>
          </ng-container>
        </div>

        <br>
        <div style="margin-left: 5px;">
          <span class="instruccion-label">Submarca</span>
        </div>
        <ion-item class="ion-item-input" mode="md">
          <ion-select formControlName="submarca" placeholder="Submarca" autocomplete="off" *ngIf="hayInternet">
            <ion-select-option *ngFor="let item of subMarcasOnline" [value]="item.subbrand">
              {{ item.subbrand }}
            </ion-select-option>
          </ion-select>

          <ion-select formControlName="submarca" placeholder="Submarca" autocomplete="off" *ngIf="!hayInternet">
            <ion-select-option *ngFor="let item of subMarcasOffline" [value]="item">
              {{ item }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div style="margin-left: 5px;">
          <span class="instruccion-chica" *ngIf="submarca!.errors == null">
            *Seleccione la submarca.
          </span>
          <span class="instruccion-chica" *ngIf="(submarca!.dirty == false && submarca!.touched == false)">
            *Seleccione la submarca.
          </span>
        </div>

        <div *ngFor="let error of mensajesValidacion.submarca" style="margin-left: 5px;">
          <ng-container *ngIf="submarca!.hasError(error.type) && (submarca!.dirty || submarca!.touched)">
            <small class="errorValidation-chica">{{error.message}}</small>
          </ng-container>
        </div>

        <br>
        <div style="margin-left: 5px;">
          <span class="instruccion-label">Kilometraje</span>
        </div>

        <input appTrim appCurrencyMask type="text" formControlName="kilometraje" placeholder="Kilometraje" maxlength="7"
          style="height: 55px;border-radius: 10px;font-size: 12px;color: #000;border: solid 1px #848484;width: 100%; padding: 10px;">

        <div style="margin-left: 5px;">
          <span class="instruccion-chica" *ngIf="mensajeErrorKm == ''">
            Ingrese el kilometraje.
          </span>
        </div>

        <div *ngIf="mensajeErrorKm != ''" style="margin-left: 5px;">
          <small class="errorValidation-chica">{{mensajeErrorKm}}</small>
        </div>
        <br><br>

        <ion-button mode="md" expand="block" style="--background: #FF3E44;"
          (click)="hayInternet ? realizarConsultaOnline() : realizarConsulta()">
          <span style="font-size: 12px;">
            Buscar
          </span>
        </ion-button>

      </form>
    </ion-col>
  </ion-row>
</ion-content>