<ion-content [fullscreen]="true">
  <app-header [textoBoton]="'Iniciar Sesión'" [opcion]="3" [tipoCabecera]="2"></app-header>

  <div style="margin-top: 30%;">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <div style="text-align: center;">
          <span class="titulos"> <b>Restablecer Contraseña</b> </span>
        </div>
        <div style="text-align: center;">
          <span style="font-size: 15px;color: #616161;"><b>¡Hola!</b></span><br>
          <span style="font-size: 15px;color: #616161;">{{correo}}</span>
        </div>
        <form [formGroup]="form" autocomplete="off">

          <br><br>
          <ion-item class="ion-item-input" mode="md">
            <ion-input appTrim type="password" formControlName="contrasenia" placeholder="Contraseña" #inputPassword
              autocomplete="off"></ion-input>
            <ion-icon name="eye-off-outline" slot="end" *ngIf="!verContrasena" (click)="mostrarContrasena()">
            </ion-icon>
            <ion-icon name="eye-outline" slot="end" *ngIf="verContrasena" (click)="mostrarContrasena()">
            </ion-icon>
          </ion-item>
          <div *ngFor="let error of mensajesValidacion.contrasenia">
            <ng-container *ngIf="contrasenia!.hasError(error.type) && (contrasenia!.dirty || contrasenia!.touched)">
              <small class="errorValidation">{{error.message}}</small>
            </ng-container>
          </div>

          <br><br>
          <ion-item class="ion-item-input" mode="md">
            <ion-input appTrim type="password" formControlName="confirmarContrasenia" placeholder="Confirmar contraseña"
              #inputPasswordConfirm autocomplete="off"></ion-input>
            <ion-icon name="eye-off-outline" slot="end" *ngIf="!verContrasenaConfirm" (click)="mostrarContrasena(true)">
            </ion-icon>
            <ion-icon name="eye-outline" slot="end" *ngIf="verContrasenaConfirm" (click)="mostrarContrasena(true)">
            </ion-icon>
          </ion-item>
          <div *ngFor="let error of mensajesValidacion.confirmarContrasenia">
            <ng-container
              *ngIf="confirmarContrasenia!.hasError(error.type) && (confirmarContrasenia!.dirty || confirmarContrasenia!.touched)">
              <small class="errorValidation">{{error.message}}</small>
            </ng-container>
          </div>
          <div *ngIf="!contraseniaComparacionValida && (confirmarContrasenia!.dirty || confirmarContrasenia!.touched)">
            <ng-container>
              <small class="errorValidation">*Las contraseñas capturadas no coinciden.</small>
            </ng-container>
          </div>

          <br>
          <ion-button mode="md" expand="full"><span style="font-size: 12px;" (click)="cambiarContrasenia()"> Confirmar </span></ion-button>

        </form>
      </ion-col>
    </ion-row>
  </div>

</ion-content>