<ion-content [fullscreen]="true">
  <app-header [textoBoton]="'Iniciar Sesión'" [opcion]="3" [tipoCabecera]="2"></app-header>

  <div style="margin-top: 30%;">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <div style="text-align: center;">
          <span class="titulos"> <b>Restablecer Contraseña</b> </span>
        </div>
        <div style="text-align: center;">
          <span style="font-size: 15px;color: #616161;"><b>¡Hola!</b></span><br>
          <span style="font-size: 15px;color: #616161;">{{correo}}</span>
        </div>
        <form [formGroup]="form" autocomplete="off">

          <br><br>
          <div style="margin-left: 5px;">
            <span class="instruccion-chica">
              Contraseña
            </span>
          </div>
          <ion-item class="ion-item-input" mode="md">
            <ion-input appTrim type="password" formControlName="contrasenia" placeholder="Contraseña" #inputPassword
              autocomplete="off"></ion-input>
            <ion-icon name="eye-off-outline" slot="end" *ngIf="!verContrasena" (click)="mostrarContrasena()">
            </ion-icon>
            <ion-icon name="eye-outline" slot="end" *ngIf="verContrasena" (click)="mostrarContrasena()">
            </ion-icon>
          </ion-item>

          <div style="margin-left: 5px;">
            <span class="instruccion-chica" *ngIf="(contrasenia!.dirty == false && contrasenia!.touched == false)">
              *Cree una contraseña de al menos 8 caracteres, un número,
              un caracter especial ($ @ ! % * ? & _ - + # . ( / " ' : ;),
              una letra mayúscula y letras minúsculas.
            </span>
            <span class="instruccion-chica" *ngIf="contrasenia!.errors == null">
              *Cree una contraseña de al menos 8 caracteres, un número,
              un caracter especial ($ @ ! % * ? & _ - + # . ( / " ' : ;),
              una letra mayúscula y letras minúsculas.
            </span>
          </div>

          <div *ngFor="let error of mensajesValidacion.contrasenia" style="margin-left: 5px;">
            <ng-container *ngIf="contrasenia!.hasError(error.type) && (contrasenia!.dirty || contrasenia!.touched)">
              <small class="errorValidation-chica">{{error.message}}</small>
            </ng-container>
          </div>

          <br><br>
          <div style="margin-left: 5px;">
            <span class="instruccion-chica">
              Confirmar contraseña
            </span>
          </div>
          <ion-item class="ion-item-input" mode="md">
            <ion-input appTrim type="password" formControlName="confirmarContrasenia" placeholder="Confirmar contraseña"
              #inputPasswordConfirm autocomplete="off"></ion-input>
            <ion-icon name="eye-off-outline" slot="end" *ngIf="!verContrasenaConfirm" (click)="mostrarContrasena(true)">
            </ion-icon>
            <ion-icon name="eye-outline" slot="end" *ngIf="verContrasenaConfirm" (click)="mostrarContrasena(true)">
            </ion-icon>
          </ion-item>

          <div style="margin-left: 5px;">
            <span class="instruccion-chica"
              *ngIf="(confirmarContrasenia!.dirty == false && confirmarContrasenia!.touched == false)">
              *Por favor confirme su contraseña.
            </span>
            <span class="instruccion-chica"
              *ngIf="confirmarContrasenia!.errors == null && contraseniaComparacionValida">
              *Por favor confirme su contraseña.
            </span>
          </div>

          <div *ngFor="let error of mensajesValidacion.confirmarContrasenia" style="margin-left: 5px;">
            <ng-container
              *ngIf="confirmarContrasenia!.hasError(error.type) && (confirmarContrasenia!.dirty || confirmarContrasenia!.touched)">
              <small class="errorValidation-chica">{{error.message}}</small>
            </ng-container>
          </div>
          <div *ngIf="!contraseniaComparacionValida && (confirmarContrasenia!.dirty || confirmarContrasenia!.touched)"
            style="margin-left: 5px;">
            <ng-container>
              <small class="errorValidation-chica">*Las contraseñas capturadas no coinciden.</small>
            </ng-container>
          </div>

          <br>
          <ion-button mode="md" expand="block" (click)="cambiarContrasenia()"><span style="font-size: 12px;"> Confirmar
            </span></ion-button>

        </form>
      </ion-col>
    </ion-row>
  </div>

</ion-content>